<!--
	SHARED FOOTER
	=============
	Used by every page in the site, identical everywhere — no
	per-page substitution needed. Edit THIS file to change the
	copyright/address/ABN or the legal links everywhere at once —
	then run `python build.py` from the project root to regenerate
	all the root-level .html pages.
-->
<footer id="footer">
	<div class="wrap">
		<div class="legal-lines">
			Copyright &copy; 2025-<span id="thisYear"></span> The Hunch Trail<sup>TM</sup><br>
			15 Kendall Street, C/O B94641<br>
			Clyde NSW 2142 Australia<br>
			ABN: 40 337 610 019
		</div>
		<div class="legal-lines">
			<a href="terms.html">Terms of Service</a><br>
			<a href="privacy.html">Privacy Policy</a>
		</div>
	</div>
</footer>
